* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url('../imgs/backgroung.jpg');
  /* background-color: #111; */
  height: 100vh;
  background-size: cover;
  position: relative;
  background-position: center center;
  overflow: hidden;
}
.container {
  width: 90%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-logo {
  padding: 0.7em, 0.7em;
}
.nav-logo img {
  width: 130px auto;
  margin-bottom: 10px;
  height: 100px;
  float: left;
  cursor: pointer;
  border-radius: 50%;
  /* filter: invert(1); */
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 1em 0 0;
}

a,
li,
button {
  text-decoration: none;
  color: #ffff;
  font-size: 1.3em;
  font-weight: 2000;
}

ul {
  list-style: none;
  margin: 0.2, 0.3;
  max-height: 20px;
}

.nav-list li {
  display: inline-block;
  border: 0.3em;
  padding: 0.4em;
}

.nav-list li a {
  transition: all 0.3s ease-in 0s;
  /* background-color: #ffff; */
  padding: 0.3em;
  border-radius: 30%;
  border-radius: 30%;
}

.nav-list li a:hover {
  background-color: #8e0b0b;
  /* color: #ffff; */
}

.profile-btn a {
  transition: all 0.3s ease-in 0s;
  background-color: #964545;
  padding: 0.3em;
  border-radius: 20%;
}

.profile-btn a:hover {
  background-color: #8e0b0b;
}
.main {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: start;
  color: #ffff;
}

.show-case h2 {
  font-size: 4em;
  text-transform: uppercase;
}
.show-case h4 {
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
}
.show-case p {
  font-size: 1.1em;
  font-weight: 200;
  margin: 20px 0;
  max-width: 700px;
}

.new-client {
  color: #ffff;
  transition: all 0.3s ease-in 0s;
  background-color: #964545;
  padding: 0.3em;
  border-radius: 20%;
}

.new-client:hover {
  background-color: #8e0b0b;
}

/*new registration form*/
.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  width: 50%;
  height: 80% auto;
  background-color: #ffff;
  margin-top: 2.3em;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000000;
  color: #000000;
}
.reg-form h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}
.reg-form #submit {
  background-color: #964545;
  padding: 0.4em;
  border-radius: 20%;
  color: #ffff;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease-in 0s;
}

.reg-form #submit:hover {
  background-color: #8e0b0b;
}
/* view client */
.lookup-main {
  height: 70vh;
  width: 68% auto;
  align-items: center;
  margin: 0 auto;
  justify-content: start;
  color: #ffff;
  background-color: #ffff;
  /* margin-top: 0.4em; */
  padding: 1.2em;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000000;
  color: #000000;
}

.lookup-main h2 {
  display: flex;
  font-size: 2.5em;
  text-transform: uppercase;
  position: relative;
  justify-content: center;
  margin: 10px auto;
}
.view-client {
  
  width: 65% auto;
  height: 26%;
  background-color: #ffff;
  /* margin-top: 0.4em; */
  padding: 1.2em;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000000;
  color: #000000;
}
.view-client label {
  margin: 0.4rem 0;
  padding: 8px;
  display: block;
  font-size: larger;
  
}
#lookup-form{
  display: flex;
  justify-self: center;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
  justify-content: center;
  align-self: center;

}
.lookup {
  background-color: #964545;
  padding: 0.4em;
  border-radius: 20%;
  color: #ffff;
  display: block;
  margin: 8px;
  transition: all 0.3s ease-in 0s;
}
.lookup:hover {
  background-color: #8e0b0b;
}

footer {
  margin-top: 100%;
  color: #ffff;
}

/* contact us */
.contact-main {
  display: flex;
  height: 60vh;
  width: auto;
  align-items: center;
  justify-content: center;
}
.contact-us {
  display: grid;
  grid-template-columns: 1fr;
 
  background-color: #fff;
  border-radius: 10px;
 
  height: 300px;
  width: 50% auto;
  color: #000;
  margin: 0 auto;
}

.contact-us h2 {
  color: #000;
  font-weight: bolder;
  font-size: 1.9em;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 20px;
  justify-self: center;
}
.contact-us p {
  color: #000;
  font-size: 1.3em;
  padding: 8px;
  text-align: center;
  max-width: 700px;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  border-radius: 10px;
  height: 25px;
}
.cards {
  background-color: #964545;
  height: auto;
  align-self: center;
  margin: 2px;
  border-radius: 5px;
  height: 50px;
}

.cards h4,
i {
  display: inline-block;
  width: auto;
  padding: 10px;
  justify-self: center;
  font-size: 20px;
  align-items: center;
  text-align: center;
  color: #ffff;
}

.email:hover {
  color: rgb(18, 19, 19);
  transition: all 0.4s ease-in 0s;
}
/* for lookup page */
#view-results {
/* display: none; */
  margin:10px;
  align-self: center;
}
#info-area {
  /* display: none; */
  margin:20px;
  align-self: center;
}

#info-area h3 {
  font-size: 1.7em;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
}
 .card-body {
  display: flex;
  flex-direction: column;
  
  color: #000000;
  

/* media queries */
