* {
  margin: 0;
}

.container {
  margin: 3%;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style: none;
  display: flex;
  margin: 0 0 0.3em 0.6em;
}
header {
  display: flex;
  margin: 1em 1em 0 0;
}

.ul-btn {
  display: block;
  position: relative;
  border: 0.8em;
  padding: 0.2em;
  font-size: 15px;
  font-weight: 200;
}

footer {
  margin-top: 100%;
}
